# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
---
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - "v*"

name: Pull Request

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Protoc
        uses: ./.github/actions/setup-protoc

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          override: true
          components: rustfmt, clippy

      - name: Run cargo check
        run: cargo check

      - name: Run cargo clippy
        run: cargo clippy --all-features -- -D warnings

      - name: Install Cerbos
        uses: cerbos/cerbos-setup-action@feb2173363a24d30544b990965892bc391909213 # v1
        with:
          version: latest

      - name: Run tests
        run: |
          cerbos run --set=storage.disk.directory=resources/store -- cargo test --test sdk_test
        env:
          CERBOS_NO_TELEMETRY: "1"

      - name: Run tests in testcontainers
        run: |
          cargo test --features testcontainers --test sdk_test
        env:
          CERBOS_NO_TELEMETRY: "1"

      - name: Run admin tests in testcontainers
        run: |
          cargo test --features admin,serde,testcontainers --test sdk_admin_test
        env:
          CERBOS_NO_TELEMETRY: "1"

      - name: Run Hub Store tests
        if: github.event.pull_request.head.repo.full_name == github.repository
        env:
          CERBOS_HUB_API_ENDPOINT: "${{ secrets.CERBOS_HUB_API_ENDPOINT }}"
          CERBOS_HUB_CLIENT_ID: "${{ secrets.CERBOS_HUB_CLIENT_ID }}"
          CERBOS_HUB_CLIENT_SECRET: "${{ secrets.CERBOS_HUB_CLIENT_SECRET }}"
          CERBOS_HUB_STORE_ID: "${{ secrets.CERBOS_HUB_STORE_ID }}"
        run: |
          cargo test --features hub --test store_integration_test -- --test-threads=1
