---
on:
  workflow_dispatch:
  push:
    tags:
      - v*

name: Release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install Protoc
        uses: arduino/setup-protoc@v2

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          override: true
          components: rustfmt, clippy

      - name: Cache artefacts
        uses: Swatinem/rust-cache@v2

      - name: Run cargo check
        run: cargo check

      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CARGO_REGISTRY_TOKEN }}"
